{% extends 'base/base.html' %}
{% block contenido %}
<div class="row">
    <div class="col">    
        <a type="button" class="btn btn-outline-primary" href="{% url 'productos:adm_nuevo_producto' %}">Agregar producto</a>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        Lista de productos
    </div>
    <div class="card-body">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nombre</th>
                    <th scope="col">precio</th>
                    <th scope="col">descripcion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in productos %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nombre}}</td>
                    <td>${{p.precio}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>
                        <a href="{% url 'productos:editar' p.id %}" class="btn btn-info">Editar</a>
                        <button type="button" class="btn btn-dark">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% include 'incluidos/paginado.html' %}
    </div>
</div>


{% endblock contenido %}